
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Staff</h2>

<a href="~/Staff/HomeStaff/ThongTinCaNhan">Thông Tin Cá Nhân</a>
<a href="~/Staff/HomeStaff/DsCong">Cong</a>
<a href="~/Login/Logout">Đăng Xuất</a>