
@{
    ViewBag.Title = "EMMA";
    EMMA.Models.EMMAEntities db = new EMMA.Models.EMMAEntities();
}

<div class="backgrau">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div style="margin-top: 230px" class="col-md-4 ">
            <form method="post">
                <div class="card">
                    <div class="card-heard" style="background-color:darkblue">
                        <h3 style="margin-top: 30px; color:aliceblue" class="card-title mb-1 text-center">Chào Mừng Bạn Đến Với Công Ty Chúng Tôi 👋</h3>
                    </div>
                    <div class="card-body">
                        <label>Username</label>
                        <input class="form-control" name="Username" type="text" placeholder="Username">
                        <label>Password</label>
                        <input type="password" name="Password" class="form-control" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;">
                    </div>
                    <div class="card-footer text-center">
                        <button style="width:130px" class="btn btn-primary" type="submit">Sign in</button>
                    </div>
                </div>
        </div>
        </form>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="~/css/giaodien.css">
