
@{
    ViewBag.Title = "EMMA";
    EMMA.Models.EMMAEntities db = new EMMA.Models.EMMAEntities();
}

<div style="background-color:aquamarine; height:1000px">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div style="margin-top: 200px" class="col-md-4 ">
                <form method="post">
                    <div class="card">
                        <div class="card-heard" style="background-color:aqua">
                            <h4 style="margin-top: 30px" class="card-title mb-1 text-center">Chào Mừng Bạn Đến Với Công Ty Chúng Tôi 👋</h4>
                        </div>
                        <div class="card-body">
                            <label>Username</label>
                            <input class="form-control" name="Username" type="text" placeholder="Username">
                            <label>Password</label>
                            <input type="password" name="Password" class="form-control" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;">
                        </div>
                        <div class="card-footer text-center">
                            <button style="width:130px" class="btn btn-info" type="submit">Sign in</button>
                        </div>
                    </div>
            </div>
            </form>
        </div>
</div>
