
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<a href="~/Manager/HomeManager/DanhSachNV">Danh Sách Nhân Viên</a>
<a href="~/Manager/HomeManager/ThongTinCaNhan">Thông Tin Cá Nhân</a>
<a href="~/Login/Logout">Đăng Xuất</a>
