@model EMMA.Models.NHANVIEN

@{
    ViewBag.Title = "PhongBan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="margin-top: 150px" class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-heard" style="background-color:aquamarine">
                <h3 style="margin-top:25px " class="text-center"> Thêm Phòng Ban</h3>
            </div>
            <div class="card-body">
                <label> <h4>Mã Phòng Ban</h4> </label>
                <input class="form-control" type="text" name="MaPB" placeholder="Nhập Mã Phòng Ban ...">
                <label style="margin-top:10px "><h4>Tên Phòng Ban</h4> </label>
                <input class="form-control" type="text" name="TenPB" placeholder="Nhập Tên Phòng Ban ...">
            </div>
            <div class="card-footer text-end">
                <button class="btn btn-info"> Thêm Mới </button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-heard" style="background-color:aquamarine ">
                <h3 style="margin-top:25px" class="text-center"> Danh Sách Phòng Ban</h3>
            </div>
            <div class="card-body">
                <table class="table tabel-bordered">
                    <thead>
                    <th class="text-center text-nowrap">STT</th>
                    <th class="text-center text-nowrap">Mã Phòng Ban</th>
                    <th class="text-center text-nowrap">Tên Phòng Ban</th>
                    <th class="text-center text-nowrap">Acction</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center text-nowrap">#</td>
                            <td class="text-center text-nowrap">#</td>
                            <td class="text-center text-nowrap">#</td>
                            <td class="text-center text-nowrap">
                                <button class="btn btn-success">Edit</button>
                                <button class="btn btn-warning">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<h2>PhongBan</h2>

